* {
	margin: 0px;
	padding: 0px;
}
p{
	color: white;
}
a {
	outline: none;
	text-decoration: none;
}

body * {
	text-transform: none;
	letter-spacing: 0px;
	font-family: 微软雅黑, "Microsoft YaHei", Helvetica, Tahoma, StSun, 宋体, SimSun, sans-serif;
	font-style: normal;
}

div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}


/**
 * 头部
 */

.container {
	position: relative;
	/*background-color: green;*/
}

.container .logo {
	display: block;
	padding-left: 280px;
	padding-top: 0px;
	width: 350px;
	height: 184px;
	position: relative;
	float: left;
}
#articleTitle{
	color: white;
}
.title_sub{
	color:white;
}

/**
 * 头部导航
 * 
 */

#desktop {
	width: 1920px;
	height: 60px;
	float: left;
	background-color: rgba(0, 0, 0, 0.5);
}

#topContent {
	position: relative;
	width: 1600px;
	height: 60px;
	left: 140px;
}

#logo {
	width: 75.06px;
	height: 60px;
	display: inline;
	margin: 10px;
}

#logo img {
	width: 75.06px;
	height: 40px;
}

#game {
	width: 40PX;
	height: 60px;
	display: inline;
}

#desktop a {
	color: #B6B6B6;
	font-size: 20px;
	display: block;
	float: left;
	line-height: 40px;
	margin: 10px;
}

#desktop a:hover {
	color: white;
}

#store {
	width: 40PX;
	height: 60px;
	display: inline;
}

#news {
	width: 40PX;
	height: 60px;
	display: inline;
}

#e-sport {
	width: 40PX;
	height: 60px;
	display: inline;
}

#account {
	width: 150px;
	height: 60px;
	float: right;
}

#account a {
	color: #B6B6B6;
	font-size: 18px;
	display: block;
	float: left;
	line-height: 40px;
	margin: 10px;
}

#suport {
	width: 34PX;
	height: 60px;
	display: inline;
}

#myAccount {
	width: 68PX;
	height: 60px;
	display: inline;
}

#navWrap {
	height: 52px;
	position: absolute;
	left: 50%;
	margin-left: -512px;
	top: 300px;
	width: 1024px;
	z-index: 1000
}

#nav {
	background: url(http://hearthstone.nos.netease.com/3/home/201708/nav_bg-1.jpg) no-repeat 0 0;
	width: 963px;
	height: 52px;
	position: relative;
	padding-left: 58px
}

#nav>li {
	float: left;
	width: 114px;
	height: 52px;
	position: relative;
	overflow: hidden
}

#nav li.nav7>a {
	cursor: default
}

#nav li a {
	display: block;
	height: 100%;
	position: relative;
	background-image: url(http://hearthstone.nos.netease.com/3/v2015/layout/nav_bg-1.jpg);
	background-repeat: no-repeat
}

#nav li.nav1 a {
	background-position: -58px 0
}

#nav li.nav2 a {
	background-position: -172px 0
}

#nav li.nav3 a {
	background-position: -286px 0
}

#nav li.nav4 a {
	background-position: -400px 0
}

#nav li.nav5 a {
	background-position: -514px 0
}

#nav li.nav6 a {
	background-position: -628px 0
}

#nav li.nav7 a {
	background-position: -742px 0
}

#nav li.nav8 a {
	background-position: -856px 0
}

#nav li.nav1:hover a {
	background-position: -58px -52px
}

#nav li.nav2:hover a {
	background-position: -172px -52px
}

#nav li.nav3:hover a {
	background-position: -286px -52px
}

#nav li.nav4:hover a {
	background-position: -400px -52px
}

#nav li.nav5:hover a {
	background-position: -514px -52px
}

#nav li.nav6:hover a {
	background-position: -628px -52px
}

#nav li.nav7:hover a {
	background-position: -742px -52px
}

#nav li.nav8:hover a {
	background-position: -856px -52px
}

#nav li.nav1 a.active {
	background-position: -58px -104px
}

#nav li.nav2 a.active {
	background-position: -172px -104px
}

#nav li.nav3 a.active {
	background-position: -286px -104px
}

#nav li.nav4 a.active {
	background-position: -400px -104px
}

#nav li.nav5 a.active {
	background-position: -514px -104px
}

#nav li.nav6 a.active {
	background-position: -628px -104px
}

#nav li.nav7 a.active {
	background-position: -742px -104px
}

#nav li.nav8 a.active {
	background-position: -856px -104px
}

#nav_flash_wrap {
	position: absolute;
	top: 59px;
	left: 10px
}

#nav li.sprite-left,
#nav li.sprite-right {
	display: block;
	position: absolute;
	z-index: 10000
}

#nav li.sprite-left {
	width: 96px;
	height: 74px;
	top: -18px;
	left: -38px;
	background: url(https://blz.nosdn.127.net/1/tm/hearthstone/nav-sprite-l.png) no-repeat
}

#nav li.sprite-right {
	width: 95px;
	height: 69px;
	top: -18px;
	right: -31px;
	background: url(https://blz.nosdn.127.net/1/tm/hearthstone/nav-sprite-r.png) no-repeat
}


/*#nav>li:hover{overflow:visible}*/

#nav li:hover ul {
	display: block
}

#nav ul {
	position: absolute;
	left: 0;
	top: 46px;
	display: none
}

#nav ul li {
	width: 114px;
	height: 34px;
	line-height: 32px
}

#nav ul a {
	color: #cd998e;
	font-size: 14px;
	padding-left: 20px;
	background: #4d0908;
	background: rgba(77, 9, 8, .95)
}

#nav ul a:hover {
	background: #81120c;
	color: #fff;
	text-decoration: none
}

#bgtop {
	padding-left: 450px;
	padding-top: 280px;
}

#bgbody1 {
	position: relative;
	padding-left: 450px;
	padding-top: -18px;
}

#cycle {
	padding-left: 330px;
	margin: auto;
}

#bgbody2 {
	padding-left: 450px;
	padding-top: -100px;
}

.bottom {
	top: 0px;
	height: 370px;
	width: 1920px;
	position: relative;
	background: url(../img/ii/footer.jpg);
	/*background-color: green;*/
}

.foot {
	position: absolute;
	background-color: black;
	width: 1880px;
	height: 374px;
	top: 928px;
}

.navfooter {
	position: relative;
	width: 1880px;
	height: 374px;
	box-sizing: border-box;
	vertical-align: baseline;
	display: table-cell;
	text-align: center;
}

.footer-logo {
	position: absolute;
	width: 1880px;
	height: 66px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.foot-link {
	position: relative;
	margin: 15px 0;
}

.workchance {
	position: relative;
	top: 106px;
	font-size: 17px;
	display: inline;
	padding: 10px;
}

.workchance a {
	color: #B6B6B6;
}

.workchance a:hover {
	color: white;
}

.copyright {
	position: relative;
	top: 106px;
	color: #414839;
	font-size: 13px;
}

.privacy {
	position: relative;
	top: 106px;
	font-size: 13px;
	display: inline;
	padding: 7px;
}

.privacy a {
	color: #B6B6B6;
}

.privacy a:hover {
	color: white;
}

.number {
	position: relative;
	top: 106px;
	font-size: 13px;
	padding: 5px;
	display: inline;
}

.number a {
	color: #414839;
}

.number a:hover {
	color: white;
}

.addition {
	position: relative;
	top: 104px;
	color: #414839;
	font-size: 13px;
	display: inline;
}

.age {
	position: relative;
	top: 100px;
	font-size: 13px;
	padding: 5px;
	display: inline;
}

.age a {
	color: #B6B6B6;
}

.age a:hover {
	color: white;
}

.addresscontent {
	position: relative;
	top: 96px;
	color: #414839;
	font-size: 13px;
	display: inline;
	padding: 5px;
}

.legalPicture {
	position: relative;
	top: 104px;
	display: inline;
	padding: 5px;
}

.legalPicture a img {
	width: 26px;
	height: 26px;
}

.addiction {
	position: relative;
	top: 104px;
	color: #414839;
	font-size: 13px;
}

#btnBox {
	position: relative;
}

.newsWrap {
	color: #150603
}

.newsArea {
	width: 1000px;
	margin: 10px auto
}

.newsTab {
	width: 920px;
	height: 51px;
	position: relative;
	margin: 0 auto
}

.newsTab li {
	position: absolute;
	bottom: 0
}

.newsTab li a {
	width: 183px;
	height: 41px;
	color: #231b10;
	font-size: 16px;
	font-weight: 700;
	line-height: 41px;
	display: block;
	text-align: center;
	box-shadow: 1px 1px 0 #e7cea8 inset, -1px -1px 0 #e7cea8 inset;
	border: 1px solid #c1975e;
	background: #d8b88d
}